TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
TWITCH_ACCESS_TOKEN=your_user_access_token
TWITCH_REFRESH_TOKEN=your_refresh_token
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ
TWITCH_BROADCASTERS=erumdoor,kingofsimoyaka,foo,bar,baz
STATE_FILE=./data/state.json
LIVE_RECONCILE_INTERVAL_MS=120000
